@model OnlineRealEstate.Models.SignUpModel
@{
    ViewBag.Title = "SignUp";
}
<link rel="stylesheet" type="text/css" href="~/Styles/SignUp.css" />
@Html.ValidationSummary(true)
@if (ViewBag.Message != null)
{
    Response.Write(ViewBag.Message);

}
<body >
<br />
    @using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
        {
            <table align="center" cellspacing="10" cellpadding="10" >
                <tr>
                    <td>
                        @Html.LabelFor(Model => Model.Name)
                    </td>
                    <td>
                        @Html.TextBoxFor(Model => Model.Name,null, new { @class = "textbox" , @maxlength = "30" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(Model => Model.Email)
                    </td>
                    <td>
                        @Html.TextBoxFor(Model => Model.Email, null, new { @class = "textbox" , @maxlength = "30" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(Model => Model.PhoneNumber)
                    </td>
                    <td>
                        @Html.TextBoxFor(Model => Model.PhoneNumber, null, new { @class = "textbox" , @maxlength = "10" })
                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(Model => Model.Role)
                    </td>
                    <td>
                        @Html.EnumDropDownListFor(Model => Model.Role, "Select Role", new { @class = "dropdown" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(Model => Model.Location)

                    </td>
                    <td>
                        @Html.TextBoxFor(Model => Model.Location,  null, new { @class = "textbox" , @maxlength = "30" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(Model => Model.Password)

                    </td>
                    <td>
                        @Html.PasswordFor(Model => Model.Password,new {@class="textbox", @maxlength = "20" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(Model => Model.ConfirmPassword)

                    </td>
                    <td>
                        @Html.PasswordFor(Model => Model.ConfirmPassword,  new {@class="textbox",@maxlength = "20" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Back", "Search","Home")
                    </td>
                    <td>
                        <input type="submit" id="=submit"value="Register" class="button"  />
                    </td>
                </tr>
            </table>
        }

</body>


