@model IEnumerable<OnlineRealEstate.Models.PropertyModel>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <style>
            table, td, th {
                border: 1px solid black;
                text-align: left;
                font-family: Arial;
            }

            table {
                border-collapse: collapse;
                width: 100%;
                text-align: left;
            }

            th, td {
                padding: 15px;
            }

            tr:hover {
                background-color: beige;
            }
        </style>

        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
        {
            <div>
                <table>
                    <tr>
                        <td>
                            @Html.ActionLink("Register new property", "Create", "Property")
                        </td>
                    </tr>
                    <tr>
                        <th>Property Type</th>
                        <th>Location</th>
                        <th> Area(in sq.ft)</th>
                        <th>Price</th>
                        <th>Property Image</th>
                        <th>Property Features</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    @foreach (OnlineRealEstate.Entity.Property item in (List<OnlineRealEstate.Entity.Property>)TempData["Property"])
                    {
                        <tr>
                            <td>
                                @item.PropertyType.Type

                            </td>
                            <td>@item.Location</td>
                            <td>@item.Area</td>
                            <td>@item.Price</td>
                            @{
                                string image = Convert.ToBase64String(item.Image);
                                string imageSource = String.Format("data:image/gif;base64,{0}", image);
                            }
                            <td> <img src='@imageSource' style="width:300px; height:300px;" /></td>
                            <td>
                                <table>
                                    <tr>
                                        <th>Feature name </th>
                                        <th>Value</th>
                                    </tr>
                                    @foreach (OnlineRealEstate.Entity.PropertyFeature propertyFeature in (List<OnlineRealEstate.Entity.PropertyFeature>)TempData["PropertyFeature"])
                                    {
                                        <tr>
                                            @if (item.PropertyTypeID == propertyFeature.PropertyTypeID)
                                            {
                                                <td>@propertyFeature.PropertyFeatureName</td>
                                                foreach (OnlineRealEstate.Entity.PropertyValues propertyValues in (List<OnlineRealEstate.Entity.PropertyValues>)TempData["PropertyValue"])
                                                {
                                                    if (item.PropertyId == propertyValues.PropertyId && propertyFeature.PropertyFeatureId == propertyValues.PropertyFeatureId)
                                                    {
                                                        <td>@propertyValues.Value</td>

                                                    }
                                                }
                                            }

                                        </tr>
                                    }

                                </table>
                            </td>

                        </tr>
                    }
                </table>

            </div>
        }


    </div>
</body>
</html>
